extends ./layout/index
block slider
    .slider
        h1 Rio de Janeiro 
        em aventura

block contenido
    main.container.mt-5
        h2.text-center.mb-5 Sobre Nosotros
        .row.mb-5
            .col-md-6
                p Puerto Valle, te permite conocer y disfrutar los Esteros del Iberá para que te lleves el mejor de los recuerdos.
                En este blog te contamos todo acerca de las experiencias, aventuras y lo que podes disfrutar junto a nosotros.
                p Puerto Valle, te permite conocer y disfrutar los Esteros del Iberá para que te lleves el mejor de los recuerdos.
                En este blog te contamos todo acerca de las experiencias, aventuras y lo que podes disfrutar junto a nosotros. 

            .col-md-6
                img(src="/img/inicio_nosotros.jpg", alt=" imagen nosotros", class="img-fluid")
        include ./layout/bloque_viajes    

    .descuento
        .container
            .row 
                .col-md-6   
                    .contenido
                        h3 5% Descuento
                        p.titulo viaje a canada 
                        p.fecha 20 marzo 2023 - 28 marzo 2023
                        p.precio $2500 USD
    .container
        h2.mt-5.text-center Testimoniales

        